.tv-lightweight-charts {
    margin: auto;
    margin-top: 50px;
  }

  select, select option {text-transform:capitalize}

  .form-select {
    width: 15%;
    display: inline-block;
  }

/* was used for rotating y label but removed it */ */
 /* .label {

  white-space: nowrap;
  transform: rotate(-90deg);


  /* Legacy vendor prefixes that you probably don't need... */

  /* Safari */
  /* -webkit-transform: rotate(90deg); */

  /* Firefox */
  /* -moz-transform: rotate(-90deg); */

  /* IE */
  /* -ms-transform: rotate(-90deg); */

  /* Opera */
  /* -o-transform: rotate(-90deg); */

  /* Internet Explorer */
  /* filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);

 }  */
