<!DOCTYPE html>
<html>
    <head>
        <title>Sum of Trades</title>
        <link rel="stylesheet" href="../static/css/style.css">
    </head>
<body>
    <h1>Test Bar Chart</h1>
    
    <div>
        <h4>Select data:</h4>
        <select id="selTime" onchange="changeTime(this.value)"></select>
    </div>
    <script src="https://d3js.org/d3.v7.min.js"></script>
    <script src="https://unpkg.com/lightweight-charts/dist/lightweight-charts.standalone.production.js"></script>
    <script src="../static/js/sum-trades.js"></script>
</body>
</html>