<!DOCTYPE html>
<html>
    <head>
        <title>Sum of Trades</title>
        <link rel="stylesheet" href="../static/css/style.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@5.1.3/dist/cosmo/bootstrap.min.css" integrity="sha256-iMtue7kH6spfqTbfU9XGcwtBF8bgiOnVTErTuh7LJr8=" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    </head>
<body>
     <!-- Navbar section -->
     <nav class="navbar-right navbar-expand-lg navbar-dark bg-primary">
        <div class="container">
        <div class="container-fluid pb-2">
            <a class="navbar-brand d-flex justify-content-center p-2" href="/">
                <i class="bi bi-currency-bitcoin" style="font-size: 3rem;"></i><h2 class="mt-3">Crypto Decryption</h2></a>
                <button class="navbar-toggler mx-auto" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <ul class="navbar-nav mx-auto">
                        <a class="nav-link" href="/"><i class="bi bi-house-door-fill"></i></a>
                        <a class="nav-link" href="/live">Live Plot</a>
                        <a class="nav-link" href="/historical">Historical Plot</a>
                        <a class="nav-link" href="/line">Line Plot</a>
                        <a class="nav-link active" href="/bar">Bar Plot</a>
                    </div>
                </div>
            </div>
        </div>
        </nav>
        <!-- End Navbar Section -->

        <!-- Main Container section -->
        <div class="container mt-5 text-center">
            
        <h4>Interactive Chart</h4>
        <p>You can toggle each series by clicking them in the legend, you can also hover items to see values, and zoom.</p>
        <div id="myDiv"></div>
        <div class="text-center">
            <p><b>Larger series may need to be toggled off to see smaller series.</b></p>
        </div>
        </div>
    <script src="https://d3js.org/d3.v7.min.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="../static/js/sum-trades.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</body>
</html>