<html>
    <head><title>Proof of concept</title></head>
<body>
    <h1>API proof of concept</h1>
    <p>Selecting from the dropdown calls an API and returns the data</p>
    <p>Aims of this file:</p>
    <ol>
        <li>Working Flask app to return data</li>
        <li>Successful pass of data to JS for processing</li>
        <li>SQL database</li>
        <li>Real data</li>
    </ol>
    <p>Not included in this proof of concept</p>
    <ol>
        <li>Visualisations</li>
    </ol>

    <h1>Data</h1>
    <select id="coin_dropdown" onchange="api(this.value)">
        <option value="bitcoin_gbp">Bitcoin</option>
        <option value="etherium_gbp">Etherium</option>
        <option value="ada_gbp">Ada</option>
        <option value="ripple_gbp">Ripple</option>
        <option value="solana_gbp">Solana</option>
    </select>
    <div><p id="data_area"></p></div>

    <script src="https://d3js.org/d3.v5.min.js"></script>

    <script>
        function api(coin) {
            api_path = `/historical/${coin}`;
            data_area = d3.select("#data_area");
            data_area.text("");
            d3.json(api_path).then(function(data) {
                for (let [key, value] of Object.entries(data)) {
                    for (let [keya, valuea] of Object.entries(value)) {
                        data_area.append("text").text(`${keya}: ${valuea}. `);
                    }
                    data_area.append("br");
                }
            });
        };
    
    api("abc");
    </script>
</body>
</html>